server:
  port: 0

spring:
  application:
    name: account-service

  datasource:
    url: jdbc:h2:tcp://localhost/~/account-service
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        use_sql_comments: false
        default_batch_fetch_size: 100
    open-in-view: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging.level:
  me.ghwn.netflix.accountservice: DEBUG
  org.hibernate.SQL: DEBUG
  org.hibernate.type: TRACE

jwt:
  secret: bXluYW1laXNqaWh3YW5saW1hbmRub3dvY3RvYmVyMjJmcmlkYXlhbmRpYW12ZXJ5dGlyZWRiZWNhdXNlaWp1c3RzdHJpa2VteWJvZHlpbmd5bQ==
  expires-in-seconds: 3600
