server:
  port: 0

spring:
  application:
    name: account-service

  h2:
    console:
      enabled: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging.level:
  me.ghwn.netflix.accountservice: DEBUG
  org.hibernate.SQL: DEBUG
  org.hibernate.type: TRACE

management:
  endpoints:
    web:
      exposure:
        include: info, health, refresh, beans, busrefresh
