server:
  port: 0

spring:
  application:
    name: account-service

  datasource:
    url: jdbc:h2:tcp://localhost/~/account-service
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        use_sql_comments: false
        default_batch_fetch_size: 100
    open-in-view: false

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging.level:
  me.ghwn.netflix.accountservice: DEBUG
  org.hibernate.SQL: DEBUG
  org.hibernate.type: TRACE

management:
  endpoints:
    web:
      exposure:
        include: info, health, refresh, beans, busrefresh
